<!DOCTYPE html>
<html lang="en">

<head>

	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">
	 <link rel="shortcut icon" href="../favicon.ico">

	 <title>Kalusto</title>

	 <!-- Bootstrap core CSS -->
	 <!-- For now I am using Bootstrap 3 cdn link. Feel free to use Bootstrap 4 by replacing the link below -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>


	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			 <div class="navbar-header">
				  <a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
						Kalusto
				  </a>
				  <ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
				  </ul>
			 </div>
		</div>
	</nav>
	<div class="container-fluid" id='first-section'>
		<div class="row">
			<div class="col-md-12">
				<div id='placeholder-box'>
					<div class='stockDisplay'>
						<span id='companyName'></span>
						<span id='latestPrice'></span>
						<span id='priceChange'></span>
						<span id='today'></span>
					</div>
					<canvas id='stockChart'></canvas>
				</div>
			</div>
		</div>
	</div>


<footer class = "footer">
  <div class="DocumentList">
    <ul id="liked-list" class="list-inline"> 
   </ul>
</div>

  <div class = "container">
    <p>Kalusto</p>
    <p>Created by Brandon, Min, Adrian, and Sukh</p>
    <button id="refresh">Refresh</button>
  </div>
</footer>
	 <!-- Bootstrap core JavaScript
	 ================================================== -->
	 <!-- Placed at the end of the document so the pages load faster -->


	<script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js'></script>
	<script type="text/javascript " src="js/main.js "></script>
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
